@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@font-face {
  font-family: 'FoundersGrotesk';
  src: url('../fonts/FoundersGrotesk-Bold.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: 'FoundersGroteskMedium';
  src: url('../fonts/FoundersGrotesk-Medium.otf') format('opentype');
  font-weight: medium;
}

@font-face {
  font-family: 'FoundersGroteskRegular';
  src: url('../fonts/FoundersGrotesk-Regular.otf') format('opentype');
  font-weight: lighter;
}

@font-face {
  font-family: 'FoundersGroteskLight';
  src: url('../fonts/FoundersGrotesk-Light.otf') format('opentype');
  font-weight: lighter;
}

@font-face {
  font-family: 'FoundersGroteskBoldItalic';
  src: url('../fonts/FoundersGrotesk-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'FoundersGroteskBoldItalic';
  src: url('../fonts/FoundersGrotesk-BoldItalic.otf') format('opentype');
}
